#about {
    text-align: center;
}

/* Paragraph style */
.about-text>p {
    line-height: 1.2;
    border-left: 2px solid rgb(250, 191, 83);
    padding-left: 10px;
    padding-right: 20px;
}

.about-text {
    text-align: left;
    transition: transform .5s linear;
    transform: translateX(-150vh);
}

.about-picture {
    display: none;
    transition: transform .5s linear;
    transform: translateX(150vh);
}

.about-picture>img {
    width: inherit;
}

/* Style when the screen width is less than 768px (mobile)*/
@media screen and (max-width: 767px) {
    .about-text {
        padding-right: 50px;
    }

    #about {
        padding-left: 15px;
    }
}

@media screen and (min-width: 768px) {
    #about {
        margin-top: 10px;
        padding-left: 15px;
    }

    /* Display text and image in the same line */
    #about>div {
        display: inline-block;
        vertical-align: middle;
    }

    .about-text {
        max-width: 50%;
    }

    /* About picture size */
    .about-picture {
        max-width: 35vh;
    }

    .about-picture>img {
        max-width: inherit;
    }
}

/* Style when the screen width is more than 1024px (laptop) */
@media screen and (min-width: 1024px) {
    #about {
        margin-top: 40px;

        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    /* About picture */
    .about-picture {
        margin: auto;
        max-width: 46vh;
    }

    /* About text position and style */
    .about-text>p {
        /* padding-right: 10%; */
        padding-left: 20px;
        border-left-width: 3px;
    }
}

/* Style when the screen width is more than 1200px */
@media screen and (min-width: 1200px) {
    #about {
        margin-top: 60px;
    }

    /* About text */
    .about-text {
        max-width: 50vh;
    }

    /* About picture */
    .about-picture {
        padding-left: 10%;
    }
}