/* Police style */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Background color */
body {
    background-color: #151515;
}

/* Main content position */
main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* Div in main under header */
main>div {
    padding: 80px 15px 0px 0px;
}

/* Content */
#about,
#projects,
#skills,
#contact {
    width: 100%;
    color: white;
}

/* 
#projects,
#skills,
#contact {
    display: none;
} */

/* content style */
.content {
    font-size: x-large;
}

/* Link style */
.content-link {
    color: rgb(250, 191, 83);
}

.content-link:visited {
    color: rgb(250, 191, 83);
}

/* Style when the screen with is more than 1024px (laptop) */
@media screen and (min-width: 1024px) {

    /* Content position and size */
    .content {
        display: flex;
    }
}

/* Style when the screen width is more than 1200px */
@media screen and (min-width: 1200px) {}

/* Class | Show and Hide about content */
.content-show {
    transform: translateX(0);
}

.content-hide-left {
    transform: translateX(-150%);
}

.content-hide-right {
    transform: translateX(150%);
}

/* Style when the screen width is less than 768px (mobile) */
@media screen and (max-width: 768px) {

    /* all div position */
    main>div {
        padding: 60px 0px 0px 0px;
    }
}

/* Scrollbar style */
::-webkit-scrollbar {
    height: 0;
    width: 5px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(250, 191, 83);
}