/* Modal main style */
.modal {
    display: none;
    position: fixed;
    margin: 60px 0 0 0;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Modal content style */
.modal-content {
    display: none;
    position: relative;
    background-color: white;
    opacity: 0;
    transition: opacity 1s;
    height: 100%;
    overflow-y: scroll;

    height: calc(100% - 60px);
}

/* Modal header style */
.modal-header {
    text-align: center;
}

/* Title */
.modal-header>h1 {
    display: inline-block;
    font-size: x-large;
}

/* Close button style */
.modal-header>span {
    position: fixed;
    font-size: 2.5em;
    right: 0;
    margin: 0.2em 0.2em 0 0;
    color: red;
}

.modal-header>span:hover {
    color: red;
    cursor: pointer;
}

/* Modal body style */
.modal-body {
    padding: 5px 15px 5px 15px;
    text-align: center;
}

/* Modal text style */
.modal-body>p {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

/* Image & Video style */
.modal-body>img,
.modal-body>video {
    border-radius: 8px;
    max-width: 100%;
}

/* Arrow go top style */
.modal-arrow-go-top {
    display: block;
}

.modal-arrow-go-top>a {
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

.modal-arrow-go-top>a:hover {
    color: red;
}

/* Style when the screen width is more than 768px */
@media screen and (min-width: 768px) {

    /* Modal style */
    .modal {
        height: 100%;
        width: 100%;

        /* hashed background */
        background: repeating-linear-gradient(-45deg,
                #30303081,
                #30303081 10px,
                #27272781 10px,
                #27272781 20px);
    }

    .modal-content {
        border-radius: 15px;
        height: 85%;
        width: 85%;

        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Hide scrollbar */
    .modal-content::-webkit-scrollbar {
        display: none;
    }

    /* Modal body text size */
    .modal-body>p {
        font-size: x-large;
    }
}

/* Style when the screen width is more than 1024px */
@media screen and (min-width:1024px) {

    /* Image & Video style */
    .modal-body>img,
    .modal-body>video {
        max-width: 50%;
    }

    /* Modal content size */
    .modal-content {
        height: 75%;
        width: 75%;
    }
}