.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    /* hashed background */
    background: repeating-linear-gradient(-45deg,
            #30303081,
            #30303081 10px,
            #27272781 10px,
            #27272781 20px);
    opacity: 1;
}

.modal:hover {
    cursor: pointer;
}

.modal-content {
    display: none;

    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;

    opacity: 0;
    transition: opacity 1s;
}

.modal-content:hover {
    cursor: default;
}

.closeModal:hover {
    cursor: pointer;
}

.modal-header {
    text-align: center;
}

.modal-header>h1 {
    display: inline-block;
    color: black;
}

.modal-header>span {
    position: absolute;
    font-size: 2.5em;
    right: 0;
    margin: 0.2em 0.2em 0 0;
}

.modal-header>span:hover {
    color: red;
}

.modal-body {
    height: min-content;
    margin: 5px 15px 5px 15px;
    text-align: center;

    overflow: scroll;
    max-height: 60vh;
}

.modal-body>p {
    font-size: 1.5em;
    width: 90%;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-body>img,
.modal-body>video {
    border-radius: 8px;
    max-width: 70%;
    margin-bottom: 2vh;
}

.modal-arrow-go-top {
    display: block;
}

.modal-arrow-go-top>a {
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

.modal-arrow-go-top>a:hover {
    color: red;
}

.pacman-win,
.pacman-lose {
    width: 50%;
}

.spaceinvaders-home,
.spaceinvaders-ig,
.spaceinvaders-lose {
    width: 50%;
}

.airedejava-home,
.airedejava-result {
    width: 50%;
}

@media screen and (max-width:996px) {
    .modal-content {
        width: 100%;
    }
}