/* HAMBURGER BUTTON */
/* Fixed div with hamburger button */
.hamburger-button-container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

/* Hamburger checkbox size, position, opacity */
#hamburger-checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 17px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
    opacity: 0;
}

/* Hamburger line position, size */
.hamburger-button-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20px;
    right: 23px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Hamburger lines style */
.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

/* Lines transition */
.line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.line2 {
    transition: transform 0.4s ease-in-out;
}

.line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

/* Lines transition onclick */
input[type="checkbox"]:checked~.hamburger-button-lines .line1 {
    transform: rotate(45deg);
}

input[type="checkbox"]:checked~.hamburger-button-lines .line2 {
    transform: scaleY(0);
}

input[type="checkbox"]:checked~.hamburger-button-lines .line3 {
    transform: rotate(-45deg);
}

/* NAVBAR */
/* Header size & position */
header {
    height: 80px;
    background-color: rgb(250, 191, 83);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Parent Navbar height */
.row {
    height: 100%;
    max-width: 1040px;
    margin: auto;
}

/* Home button position */
.home-button {
    float: left;
    transition: transform .7s ease-in-out;

    transform: translateX(-120vh);
}

/* Navbar position */
.nav {
    float: right;
    line-height: 46px;
}

.nav>ul {
    padding: 0;
    display: flex;
    gap: 20px
}

/* Navbar li position & style */
.nav-list {
    display: inline-block;
    list-style: none;
}

.contact-list {
    list-style: none;
}

.contact>li>a>svg {
    vertical-align: middle;
}

/* href style */
.nav-list a {
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
}

.nav-list a:hover {
    color: black;
}

/* svg logo hover color */
.nav-list a>svg:hover path {
    stroke: black;
}

/* href active */
.active {
    border-bottom: 3px solid;
    border-color: white;
    border-radius: 2px;
}

/* Responsive navbar */
/* Style when the screen is less than 1024 px */
@media screen and (max-width: 1024px) {

    /* Contact-list position */
    .contact-list {
        margin-right: 50px;
    }
}

/* Style when the screen width is less than 768px (mobile)*/
@media screen and (max-width: 768px) {

    /* Reduce header & home button size */
    header {
        height: 60px;
    }

    .home-button>svg {
        height: 60px;
    }

    /* Home button position */
    .home-button {
        margin-left: -25px;
    }

    /* Navbar position */
    .nav {
        position: absolute;
        top: 59px;
        width: 100%;
    }

    .nav>ul {
        display: grid;
        text-align: center;
    }

    /* Contact position */
    .contact {
        padding: 0;
    }

    .contact-list {
        margin-right: 0;
    }

    /* Hide navbar */
    .collapse {
        max-height: 0;
        overflow: hidden;
        background-color: rgb(250, 191, 83);
    }

    /* Show/Hide navbar animation */
    .show {
        max-height: 100vh;
        transition: max-height 1s ease-out;
    }

    .hide {
        max-height: 0;
        transition: max-height .5s ease-out;
    }
}

/* Hide hamburger button when screen width is more than 769px (larger than mobile)*/
@media screen and (min-width: 769px) {

    /* Hide hamburger button */
    .hamburger {
        display: none;
    }
}