#about,
#projects,
#skills {
    width: 100%;
    color: white;
}

/* content style */
.content {
    font-size: x-large;
}

/* Paragraph style */
.about-text>p {
    line-height: 1.2;
    border-left: 2px solid rgb(250, 191, 83);
    padding-left: 10px;
    padding-right: 20px;
}

/* Link style */
.content-link {
    color: rgb(250, 191, 83);
}

.content-link:visited {
    color: rgb(250, 191, 83);
}

/* Style when the screen width is less than 768px (mobile)*/
@media screen and (max-width: 768px) {
    .about-text {
        padding-right: 50px;
    }
}

/* Style when the screen with is more than 1024px (laptop) */
@media screen and (min-width: 1024px) {

    /* Content position and size */
    .content {
        padding-top: 8%;
        display: flex;
    }

    /* About text hidden on the left */
    .about-text {
        padding-left: 4%;
        max-width: 40%;
        transition: transform 1s ease-in-out;
        transform: translateX(-150%);
    }

    /* About picture hidden on the right */
    .about-picture {
        margin: auto;
        transition: transform 1s ease-in-out;
        transform: translateX(150%);
    }

    /* About text position and style */
    .about-text>p {
        padding-right: 10%;
        padding-left: 20px;
        border-left-width: 3px;
    }

    /* About picture position and style */
    .about-picture>img {
        height: 50vb;
    }
}

/* Style when the screen width is less than 1024px */
@media screen and (max-width: 1023px) {
    .about-picture {
        display: none;
    }
}

/* Style when the screen width is more than 1200px */
@media screen and (min-width: 1200px) {

    /* Content position and size */
    .content {
        padding-top: 10%;
    }

    /* About text padding */
    .about-text {
        padding-left: 10%;
    }

    /* About picture padding */
    .about-picture {
        padding-right: 10%;
    }
}

/* Class | Show and Hide about content */
.about-show {
    transform: translateX(0);
}

.about-hide-left {
    transform: translateX(-150%);
}

.about-hide-right {
    transform: translateX(150%);
}